each revved, original in files
	-
		const additionalScripts = [
			// 'libs/path-name.js',
		]

	if (original === 'scripts/main.js')
		script(src=`/assets/${original}` type="module")

	else if (additionalScripts.includes(original))
		script(src=`/assets/${original}`)
