include ../_abstracts/index



-
	let title



block variables



doctype html
html(lang="en" dir="ltr")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		title= (title ? `${title} | ` : '') + '<%= name %>'
		block styles
			link(href="/design-guide/examples/assets/styles/main.css" rel="stylesheet")
		block scripts-head

	body
		block body

		block scripts
			script(src="/design-guide/examples/assets/scripts/main.js" type="module")
